body {
    margin: 0;
    background-color: black;
    padding: 0;
}

ul {
    padding: 0;
}

header {
    width: 100%;
    height: 1em;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.title {
    margin: 0 auto;
    text-align: center;
    padding: 0.1em 0 ;
    color: white;
}

h2 {
    font-size: 3em;
}

.header-list { 
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 2% 13%;
    color: white;
}

.mission,
.portofolio, 
.investment {
    padding: 0.6em 1em ;
    cursor: pointer;
}

.mission:hover,
.portofolio:hover,
.investment:hover {
    text-decoration: underline;
}

.mission-div {
    background-color: black;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10% 0;
    display: flex;
    flex-wrap: wrap;
}

.mission-title {
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 1em 2em;
    font-size: 5em;
}

.mission-description {
    color: white;
    text-align: center;
    margin: 0 auto;
    margin: 0 10%;
    line-height: 2em;
}

.mission-btn {
    color: white;
    text-align: center;
    background-color: rgb(255, 255, 255, 15%);
    margin-top: 10%;
    margin-left: 46%;
    border-radius: 0.6em;
    padding: 0.9em 1.6em;
    cursor: pointer;
    border-style: none;
}

.mission-btn:hover {
    background-color: rgb(255, 255, 255, 30%);
}

main,
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.portofolio-img,
.team-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.portofolio-title,
.team-title {
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 1em 2em;
    font-size: 4em;
    padding-bottom: 1.5em ;
}

.portofolio-img img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.portofolio-description,
.team-description,
.person {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portofolio-description p {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    color: white;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.portofolio-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portofolio-btn button {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    color: white;
    text-align: center;
    background-color: rgb(255, 255, 255, 15%);
    border-radius: 0.6em;
    padding: 0.9em 1.6em;
    cursor: pointer;
    border-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.portofolio-btn button:hover {
    background-color: rgb(255, 255, 255, 30%);
}

footer h4 {
    width: 25%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.team-description p {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    color: white;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.team-img img {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.contact {
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}

.contact-text {
    font-size: 1em ;
}
